@import "pages/ImportCsv";

.admin-parent-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.admin-icon {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-children {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

.admin-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0;
}

.admin-child-link .admin-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.admin-nav-entry,
.admin-nav-dropdown-entry,
.admin-navbar .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.admin-navbar {
  margin-bottom: 1rem;
}

.admin-navbar .nav-link {
  padding: 0.5rem 1rem !important;
}

.admin-navbar .navbar-brand {
  font-size: 1rem;
}

.row.selected {
  background: $brand-secondary;
}

.admin-navbar .admin-nav .dropdown-menu {
  box-shadow:
    0 2px 20px -10px $brand-dark-shadow,
    0 0 10px -5px rgb(20 18 17 / 60%);
}

.react-autosuggest__suggestions-container {
  height: 80px;
  width: 300px;
  overflow: hidden;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding: 0;
}

.member-search {
  max-width: 300px;
}

.suggestion-highlighted {
  background-color: $brand-secondary;
}

.member-list-page {
  section.member-list-contents {
    table.table {
      margin-bottom: 0;
    }

    .member-list-bottom-controls {
      margin-bottom: 1em;

      button.load-more {
        padding: 1em 2em;
      }
    }
  }
}

.non-ideal-member-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  border: 1px solid rgb(0 0 0 / 15%);
}

.non-ideal-member-list,
.member-list-table {
  box-shadow: 0 5px 30px -10px rgb(0 0 0 / 10%);
}

.help-popover-content ul {
  padding-left: 1rem;
}
