// Do not use colors starting with `-color-` -- these are for use in this file only
// red
$-color-red: #bd2d28;
$-color-coral: #ec1f27;

// blue
$-color-dark-blue: #192354;
$-color-light-blue: #597b82;
$-color-link-blue: #0056b3;
$-color-hover-blue: rgb(230, 240, 248);

// other colors
$-color-gold: #fcc53d;
$-color-green: #5bab5b;

// functional colors
$brand-black: #3d3533;
$brand-dark-shadow: rgb(20 18 17 / 25%);
$brand-gray: #9a857f;
$brand-light-gray: #bda49d;
$brand-light-coral: rgb(215 62 15 / 53%);
$brand-white: #fff;
$brand-light-shadow: rgb(255 222 212 / 50%);
$brand-primary: $-color-coral;
$brand-secondary: $-color-gold;
$brand-background: $brand-white;
$brand-header-text: $brand-black;
$brand-text: $brand-black;
$brand-button-text: $brand-white;
$brand-link: $-color-link-blue;
$brand-success: $-color-green;
$brand-danger: $-color-red;
$brand-error: $-color-red;
$brand-disabled: $brand-light-gray;
$brand-enable: $brand-light-gray;
$brand-hover: $-color-hover-blue;
