.election-toolbox {
  > label {
    &:hover {
      background: $brand-white;
    }

    height: 2em;
    line-height: 2em;
    width: 100%;
  }

  > label > * {
    vertical-align: middle;
    margin: 0 1.5em;
  }

  > label > a {
    display: block;
    float: right;
  }
}

table.ballotCandidates {
  margin: auto;
  width: 100%;
}
