@import "components/EditableAsset";

.meeting-member-search-container {
  position: relative;
  max-width: 57rem;
}

@keyframes not-eligible-popup {
  0% {
    opacity: 0%;
  }

  15% {
    opacity: 100%;
  }

  2%,
  18% {
    transform: translate3d(-1px, 0, 0);
  }

  4%,
  16% {
    transform: translate3d(2px, 0, 0);
  }

  6%,
  10%,
  14% {
    transform: translate3d(-4px, 0, 0);
  }

  8%,
  12% {
    transform: translate3d(4px, 0, 0);
  }

  85% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes eligible-popup {
  0% {
    opacity: 0%;
    transform: translate3d(-1.5rem, 0, 0);
  }

  10% {
    opacity: 10000%;
    transform: translate3d(0, 0, 0);
  }

  80% {
    opacity: 10000%;
  }

  100% {
    opacity: 0%;
  }
}

.meeting-voter-eligibility-popup {
  padding: 1rem;
  position: absolute;
  right: 0;
  top: -0.5rem;
  border: 2px solid $brand-gray;
  opacity: 0%;

  &::after {
    content: "";
    background-color: $brand-background;
    border: 2px solid $brand-gray;
    border-right: 0;
    border-top: 0;
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: translate(0, -50%) rotate(45deg);
    left: -0.65rem;
    top: 50%;
  }

  &.is-activated {
    animation: not-eligible-popup 4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  &.is-eligible {
    border: 2px solid $brand-primary;
    animation: eligible-popup 4s;

    &::after {
      border: 2px solid $brand-primary;
      border-right: 0;
      border-top: 0;
    }
  }
}

.edit-meeting-form {
  margin-bottom: 2rem;
}

.meeting-tabs {
  margin-bottom: 1em;
}

.attendee-entry {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 1em;

  & > * {
    margin-right: 1em;
  }
}

.kiosk-screen {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .kiosk-card {
    margin: 15px 0;
    box-shadow: 0 2px 30px -20px $brand-light-gray;
  }

  .card-header .meeting-title {
    display: flex;
    align-items: center;
  }

  .card-header .page-heading {
    padding: 0;
    margin: 0;
  }

  .meeting-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .kiosk-path-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;

    .path-prompt-buttons {
      margin: 2em 0;
    }

    .path-prompt-buttons .path-button-icon {
      font-size: 4em;
    }

    .path-button-text {
      font-size: 1.5em;
    }
  }

  .sign-in-form {
    margin: 2em 0;

    header.form-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .attend-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 0;

    .attend-icon {
      color: $brand-success;
      font-size: 8rem;
      animation: confirm-check 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .attend-text,
    .attend-subtext,
    .attend-button {
      animation: fade-in 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }

    .attend-text {
      font-size: 2rem;
    }

    .attend-subtext {
      padding: 1.5rem 0;
      font-size: 1.4rem;

      p {
        margin-bottom: 1.5rem;
      }
    }
  }

  .minor-contact-form {
    margin-top: 1em;
  }

  footer {
    text-align: center;
  }
}

@keyframes confirm-check {
  0% {
    opacity: 0%;
    transform: scale3d(0, 0, 0) rotate(360deg);
  }

  90% {
    opacity: 100%;
    transform: scale3d(1.05, 1.05, 1.05) rotate(-15deg);
  }

  100% {
    transform: scale3d(1, 1, 1) rotate(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 100%;
    transform: translate3d(0, 0, 0);
  }
}
