@import "pages/MemberPage";

.membership {
  .voteBox {
    padding: 15px;
    border: 1px solid;
  }
}

.committee-member {
  padding: 4px 0;
}

.portal-panel {
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 2rem;
}
