@use "sass:color";

$colDefault: #e8e8e8;
$colHighlight: #fff;

.mainNav {
  background: $brand-primary;
  position: sticky;

  button {
    .icon-bar {
      background-color: $brand-white !important;
    }

    &:hover {
      background-color: color.adjust($brand-primary, $lightness: -10%) !important;
    }
  }
}

.navbar {
  padding: 0;
}

.dsaNavItem {
  a {
    color: $brand-white !important;
    text-decoration: none;
    padding: 1rem !important;

    &:hover,
    &:focus {
      color: $brand-text !important;
      background-color: $brand-white !important;
      text-decoration: underline !important;
    }

    &:focus {
      @include inset-focus;
    }
  }

  &.active {
    a {
      color: $brand-text !important;
      background-color: $brand-white !important;
    }
  }
}

.nav-item a.nav-link {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline !important;
  }
}

.navbar-brand-logo {
  padding-top: 0;
  padding-bottom: 0;
}

.mainNav .navbar-toggler {
  color: rgb(255 255 255 / 80%);
  border-color: rgb(255 255 255 / 80%);
  margin-right: 0.5rem;
}

.mainNav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  margin-right: 0.5rem;
}
