@media print {
  nav,
  .print-hidden {
    display: none;
  }

  .printPage {
    page-break-after: always;
  }

  @page {
    size: 8.5in 11in;
  }
}

.candidateList {
  margin: 0;
  padding: 0;
  column-count: 2;

  > li {
    $item-height: 2.5cm;

    list-style: none;
    height: $item-height;
    line-height: $item-height;
    white-space: nowrap;

    > span {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: 1.5em;
      word-break: break-all;
    }
  }
}

span.rank-box {
  $box-size: 1.5cm;

  display: inline-block;
  height: $box-size;
  width: $box-size;
  border: 0.1cm solid black;
  margin: 1cm;

  &.warning {
    outline: 4px solid gold;
  }

  > input[type="text"] {
    padding: 0.05em;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
  }

  > label {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
  }
}

.validation-box {
  td,
  th {
    padding: 5px;
    border: 1px solid black;
  }
}

#verify {
  display: block;
  margin: 0 auto;
  width: 50%;
}
