@use "sass:color";

// import variables and mixins first
@import "colors";
@import "variables";
@import "mixins";

// then import everything else
@import "admin";
@import "elections";
@import "emails";
@import "membership";
@import "paperballot";
@import "navigation";
@import "react-datetime";
@import "vote";
@import "member-search";
@import "meeting";
@import "external";
@import "markdown-editor";
@import url("https://rsms.me/inter/inter.css");

// components
@import "components/skip-link";
@import "components/wrapper-link";
@import "components/page-heading";

// vendor
@import "vendor/react-complex-tree";
@import "vendor/react-bootstrap";

// Remove dotted border inside buttons in Firefox.
::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: underline;
}

// Ideally we'd just do :focus, but we need to override
// Bootstrap selectors too!
:focus,
a:focus,
.btn:focus,
.form-control:focus {
  border-color: $brand-link;
}

// Due to a Safari quirk, we have to use outline on checkboxes.
input[type="checkbox"]:focus {
  outline: $outline-focus;
  outline-offset: 0;
}

input:invalid {
  // Use box shadow when supported, since it follows rounded corners, and
  // fall back to outline in other browsers.
  box-shadow: 0 0 0 0.2rem $brand-error;
  outline: 0.2rem solid $brand-error;

  @supports (box-shadow: 0 0 0 black) {
    // Remove outline when box-shadow is supported.
    outline: none;
  }

  // Show thinner box shadow errors for empty fields that are not focused
  &[required][value=""]:not(:focus) {
    box-shadow: 0 0 0 1px $brand-error;
    outline: 1px solid $brand-error;

    @supports (box-shadow: 0 0 0 black) {
      // Remove outline when box-shadow is supported.
      outline: none;
    }
  }
}

// Hide the focus indicator if the element receives focus via the mouse, but it
// will still show up on keyboard focus.
.js-focus-visible :focus:not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

a:visited {
  text-decoration: underline;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $brand-background;
  color: $brand-text;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family:
      "Inter var",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4 {
  color: $brand-header-text;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 600;
}

.panel {
  background-color: $brand-light-shadow;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 100%;
}

button.inactive {
  background-color: $brand-disabled;

  & :active {
    background-color: $brand-disabled;
  }
}

button:disabled,
button[disabled] {
  background-color: $brand-disabled;
}

input {
  color: $brand-text !important;
}

textarea {
  color: $brand-text !important;
  box-sizing: border-box;
  width: 50%;
}

img {
  max-width: 100%;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  // The page-level skip link (skip to main content)
  > .skip-link {
    background: $brand-white;
    padding: 1em;
  }
}

.nav-container {
  z-index: 100;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-padding {
  padding: 50px;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.glyphButton {
  appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.loading-wheel {
  font-size: 8em;
  color: $brand-header-text;
  animation: spin 2s infinite linear;
  animation: spin2 2s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rose {
  &::before {
    content: "🌹 ";
  }

  &.after,
  &.wrap {
    &::after {
      content: " 🌹";
    }
  }

  &.after {
    &::before {
      content: none;
    }
  }
}

.popover {
  box-shadow: 0 5px 20px -5px $brand-dark-shadow;
}

.hover {
  cursor: pointer;
}

.text-underline-dotted {
  text-decoration: 1px dotted underline;
}

.text-strikethrough {
  text-decoration: 1px line-through;
}

.height-fullscreen {
  min-height: 100vh;
  max-height: 100vh;
}

.width-fullscreen {
  min-width: 100vw;
  max-width: 100vw;
}

.highlight-success {
  background-color: color.change($brand-success, $alpha: 0.3);
}

.highlight-danger {
  background-color: color.change($brand-danger, $alpha: 0.3);
}

.text-unselectable {
  user-select: none;
  cursor: default;
}
